<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Basic need -->
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" th:href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600'/>

    <!-- Mobile specific meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">

    <!-- CSS files -->
    <link rel="stylesheet" th:href="@{../resources/MovieBoot/css/plugins.css}">
    <title>정보 수정 페이지</title>
    <script th:src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <style>
        /* CSS styles */
    </style>
</head>
<body>
<br>
<br>
<br>
<div class="container">
    <h3>비밀번호 찾기</h3>
    <form th:action="@{/member/pw_modify}" method="post" name="inputForm" onsubmit="return inputCheck()">
        <div>
            <div>
                이메일 <input class="member_email" type="text" name="member_email" id="member_email">
                <span id="val-check-warn"></span>
            </div>
            <div>
                <!-- 인증번호 일치여부 확인 -->
                인증번호
                <input class="mail_Check_Input" placeholder="인증번호 6자리 입력" maxlength="6" name="mail_Check_Input">
                <!-- input class 값이 있어야 blur 처리 할 수 있다 -->
                <button type="button" id="mail_Check_Btn" disabled="disabled">인증번호 받기</button>
                <span id="mail-check-warn"></span>
            </div>
            <br>
            <div>
                새 비밀번호 <input type="password" name="member_pw" id="member_pw">
            </div>
            <div>
                <input type="submit" value="수정완료">
                <button type="button" onclick="window.location='/member/mypage'">취소</button>
                <!-- 추후 팝업창 닫기로 변경 -->
            </div>
        </div>
    </form>
</div>

<script>
	// 사용자가 email 입력란에 이메일 입력하고 중복검사 버튼 클릭-> 이벤트 발생
	$(".member_email").blur(function(){
		// 사용자가 입력한 email 값 가져오기
		let email = $('#member_email').val();
		console.log("member_email value : " + email);
		let resultMsg = $("#val-check-warn"); // 결과메세지 띄워줄 창

		// ajax 요청해서 입력한 memeber_email을 email변수에에 담아서 controller의 mailAvail에 보내고
		// DB에 존재하는 email인지 결과 리턴받기-> true/false
		$.ajax({
			url:"/member/mailAvail",
			type: "post",
			data: {email:email},
			success: function(result){
				console.log("요청 성공!");
				console.log("result : " + result);
				code = result;
				if(code === "false"){
					resultMsg.html('이메일 인증을 진행해주세요!');
					resultMsg.css('color','green');
					$('#mail_Check_Btn').attr('disabled',false);
				}else{
					resultMsg.html('존재하지 않는 이메일 입니다. 다시 확인해주세요!');
					resultMsg.css('color','red');
				}
			}
		});
	});
</script>
<script>
	$('#mail_Check_Btn').click(function() {
		const eamil = $('#member_email').val(); // 이메일 주소값 얻어오기!
		console.log('완성된 이메일 : ' + eamil); // 이메일 오는지 확인
		const checkInput = $('.mail_Check_Input') // 인증번호 입력하는곳

		$.ajax({
			type : 'get',
			url : '/member/mailCheck?email='+eamil, // GET방식이라 Url 뒤에 email을 뭍힐수있다.
			success : function (data) {
				console.log("data : " +  data);
				checkInput.attr('disabled',false);
				code = data;
				alert('인증번호가 전송되었습니다.')
			}
		}); // end ajax
	}); // end send eamil

	// 인증번호 비교
	// focuse 에서 blur로 변경 될때 결과 값 span태그에 띄워주기
	$('.mail_Check_Input').blur(function () {
		console.log("blur 작동?")
		const inputCode = $(this).val(); // const -> final과 비슷 상수값으로 설정
		const resultMsg = $('#mail-check-warn'); // span태그의 id값 받아서 resultMsg 변수에 저장하고

		if(inputCode === code){
			resultMsg.html('인증번호가 일치합니다.'); // 결과 값에 따라서 변수에 저장되는 값 설정
			resultMsg.css('color','green');
			$('#mail_Check_Btn').attr('disabled',true);
			$('#member_email').attr('readonly',true);
			$('#mail_Check_Input').attr('readonly', true); // 인증번호 맞을시 잠금
			$('#member_pw').attr('disabled',false); // pw 활성화

		}else{
			resultMsg.html('인증번호가 불일치 합니다. 다시 확인해주세요!.');
			resultMsg.css('color','red');
		}
	});
</script>
<script>
	//유효성 검사
	function inputCheck(){
		// 폼 정보 가져오기(form태그에 작성한 name 속성으로 form모두 가져오기 HTML->JS)
		let inputs = document.inputForm;

		// boolean, 값이 있는지 없는지 -> true/false
		// 이메일 입력란 미작성 체크
		if(!inputs.member_email.value) {
			alert("이메일을 입력하세요");
			// form tag에 false값이 넘어가면 submit 작동 x
			return false;
		}
		// 인증번호 미작성 체크
		if(!inputs.mail_Check_Input.value){
			alert("인증을 계속 진행해주세요");
			return false;
		}
		// 비밀번호 입력란 미작성 체크
		if(!inputs.member_pw.value){
			alert("비밀번호를 입력하세요");
			return false;
		}
	}
</script>

</body>
</html>
